body {
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: #000;
}

.back {
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    transition: all .4s ease-in-out;
}

.back:hover {
    transform: scale(1.1);
    cursor: pointer;
}